<main>
  <div class="column">
    <div id="income-input">
      <div id="slider-container"></div>
    </div>
    <div id="chart-container">
      <div id="chart-content">
        <canvas id="chart"></canvas>
      </div>
    </div>
  </div>
  <a class="download-container butt butt-primary">
    <h3 id="download-text">Download</h3>
    <img src="/images/download.png" alt="Download" class="download-image" />
  </a>
</main>
