<main>
  <div class="column">
    <div id="slider-container"></div>
    <div id="chart-container">
      <div id="chart-content">
        <canvas id="chart"></canvas>
      </div>
    </div>
  </div>
</main>
