<main>
  <div class="column">
    <div id="income-input">
      <div id="slider-container"></div>
    </div>
    <div id="chart-container">
      <div id="chart-content">
        <canvas id="chart"></canvas>
      </div>
    </div>
    <h3 id="download-text">Download</h3>
  </div>
  <div class="download-container">
    <input type="button" id="downloadButton" class="upload-button" />
    <img src="/images/download.png" alt="Download" class="download-image" />
  </div>
</main>
