<!--Skal laves-->

<div class="create-button-div">
    <a href="/create-budget" class="butt create-button">Create budget</a>
    <a href="/login" class="butt have-budget-button">Already have a budget?</a>
</div>