<!--Skal laves-->

<div id="create-button-div">
    <a class="butt" href="/create-budget" class="butt">Create budget</a>
    <a href="/login" id="have-budget-button" class="butt">Already have a budget?</a>
</div>