<!--Skal laves-->

<div class="create-button-div">
    <a href="/sign-up" class="butt create-button">Get started</a>
    <a href="/login" class="butt have-budget-button">Already have a budget?</a>
</div>