<div class="container">
  <div class="header">
    <h2>Infomation</h2>
    <p>
      Here u will find information regarding the budgeting tools and general
      infomation on how to make a good budget
    </p>
  </div>

  <div class="columns">
    <div class="column">
      <h3>Budgeting tools when making a budget</h3>
      <ul>
        <li>
          When making a budget, you can add expenses by clicking on the + button
          on the right.
        </li>
        <li>Likewise, you can remove an expense by clicking on the X.</li>
        <li>
          You can click on the different expenses and input the desired value or
          pull on them to adjust your budget as desired.
        </li>
      </ul>
    </div>
    <div class="column">
      <h3>How to make a good budget</h3>
      <ul>
        <li>
          Before making a budget, it is a good idea to prepare yourself by
          identifying all your fixed expenses, such as rent, fixed travel
          expenses, internet, Spotify, etc. Once you have identified all your
          fixed expenses, start creating your budget by adding them using the +
          sign. Then, assess how much money you have left. After getting an
          overview of the remaining funds, begin by adding the remaining
          necessary expenses to your budget, such as food, activities money
          (cafe, going out).
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="bottom-image"></div>
