<button class="create-button-info" id="create-butt-info">
  <h1 class="form-create-info">Information</h1>
</button>

<div class="container">
  <div class="columns">
    <div class="column left-column">
      <h3>Getting started</h3>
      <ul>
        <li>
          Click on the “login” button in the top right corner and log in or sign
          up if you dont already have an account.
        </li>
        <li>
          Click on “Create” to the left of “My budgets” and create a budget by
          giving it a name and selecting a budget style (e.g., basic style).
        </li>
        <li>
          Now navigate to “My budgets” where you will see your budget name on
          the right. You can click on the edit button.
        </li>
        <li>
          Now you have been navigated to your budget where you will be able to
          edit it
        </li>
        <li>Now follow the “How to make a good budget” on the right</li>
      </ul>
    </div>
    <div class="column right-column">
      <h3>How to make a good budget</h3>
      <ul>
        <li>Prepare by identifying all your fixed expenses</li>
        <li>Input your fixed expenses like rent, subscriptions, etc.</li>
        <li>
          Add variable expenses such as food, clothing, leisure activities.
        </li>
        <li>
          Now you can adjust the sliders for variable expenses and look at the
          chart to see what percentage of your total income the expenses account
          for.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="glos-container">
  <div class="glos">
    <h4>Word glossary</h4>
  </ul>
      <li>Budget: A plan for managing income and expenses over a specific period, typically monthly.</li>
      <li>Fixed costs: All expenses that dont vary, such as rent, loans, and subscriptions.</li>
      <li>Variable expenses: Expenses that might change every month, such as clothing, leisure, personal care, and gifts.</li>
      <li>Savings: Money set aside for future use or emergencies.</li>
      <li>Debt: Money owed to creditors, such as credit card debt, student loans, or mortgage loans.</li>
      <li>Assets: Items of value that you own, such as savings accounts, investments, or property.</li>
      <li>Liabilities: Financial obligations or debts that you owe, such as loans or mortgages.</li>
  </ul>
  </div>
</div>