<button class="create-button-info" id="create-butt-info">
  <h1 class="form-create-info">Information</h1>
</button>

<div class="container">
  <div class="columns">
    <div class="column left-column">
      <h3>Getting started</h3>
      <ul>
        <li>
          When making a budget, you can add expenses by clicking on the + button
          on the right.
        </li>
        <li>Likewise, you can remove an expense by clicking on the X.</li>
        <li>
          You can click on the different expenses and input the desired value or
          pull on them to adjust your budget as desired.
        </li>
      </ul>
    </div>
    <div class="column right-column">
      <h3>How to make a good budget</h3>
      <ul>
        <li>Prepare by identifying all your fixed expenses</li>
        <li>Input your fixed expenses like rent, subscriptions, etc.</li>
        <li>
          Add variable expenses such as food, clothing, cafe, bar expenses
        </li>
      </ul>
    </div>
  </div>
</div>
