<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <main>
    <header>
      <h1 id="logo"><a href="/">Expensia</a></h1>
      <div id="grey-line"></div>
      <div id="blue-oval"></div>
      <h2 id="create">Create</h2>
      <h2 id="my-budgets">My budgets</h2>
      <h2 id="info">Info</h2>
      <h3 id="login-text">Login</h3>
    </header>
  </main>
</body>

</html>