<!DOCTYPE html>
<html>
  <head>
    <title>Expensia</title>
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>

  <body>
    <nav>
      <label id="logo">
        <a href="/home">Expensia</a>
      </label>
      <ul>
        <li class="<%- title === 'create_budget' ? 'active-page' : '' %>">
          <a href="/create-budget">Create</a>
        </li>
        <li class="<%- title === 'my_budgets' ? 'active-page' : '' %>">
          <a href="/my-budgets">My budgets</a>
        </li>
        <li class="<%- title === 'info' ? 'active-page' : '' %>">
          <a href="/info">Info</a>
        </li>
        <li>
          <a href="/login" class="butt login-button">Login</a>
        </li>
      </ul>
    </nav>

    <%- body %>

    <!-- Scripts -->
    <% if(title == 'Login' || title == 'Sign up') { %>
    <script src="/javascripts/passwordMatch.js"></script>
    <% } %>
  </body>
</html>
