<div id="UploadBudgetContainer">
  <div id="form-container">
    <h1 id="form-header">Create Budget</h1>

    <div id="style-name-budget">
      <div>


        <form method="post" for="name">
          <h3 class="form-input">Name
            <div class="tool-tip tool-tip-primary">
              ?
              <span class="tool-tip-text">
                Type the name of your new budget.
              </span>
            </div>
          </h3>
          <br>
          <input type="text" id="name" name="name" class="form-input" placeholder="">
          <hr>
      </div>

      <div id="form-template">
        <label for="Basic template">
          <h3 class="form-input">Budget style
            <div class="tool-tip tool-tip-primary">
              ?
              <span>Choose the type of budget you would like. (As of now select basic) </span>
            </div>
          </h3>
        </label>
        <select id="budgetstyle" name="budgetstyle">
          <option>Basic</option>
          <option>Other</option>
        </select>

      </div>
    </div>

    <h3 class="form-input">Upload Budget<div class="tool-tip tool-tip-primary">
        ?
        <span class="tool-tip-text">Upload a JSON file from your previously downloaded budgets to edit. (Optional) </span>
      </div>
    </h3>

    <div id="sky-upload">
      <div>
        <label for="fileToUpload" class="upload-button">
          <img src="/images/upload.png" alt="Sky image" id="sky-image" />
        </label>
      </div>
      <div>
        <input type="file" name="fileToUpload" id="fileToUpload" style="display: none;">
        <input type="submit" name="submit-button" value="Upload" style="display: none;">
      </div>
    </div>


    <button class="create-button" id="create-butt" name="Submit" type="Submit">
      <h1 class="form-create">Create
      </h1>
    </button>

    </form>
  </div>
</div>