.circle {
  background-color: white;
  height: 90px;
  width: 90px;
  border: 4px solid;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.circle > p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
}

.expense_div {
  display: flex;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  width: 225px;
  border: 4px solid #3c67f4;
  border-radius: 25px;
  -webkit-transition: .1s;
  transition: .1s;
  margin-left: -10px;
  background: linear-gradient(90deg, #3c67f4 50%, #ffffff 50%);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 36px;
  height: 36px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 50%;
}

.show-value {
  position: absolute;
  font-weight: bold;
  color: #3c67f4;
  width: 100px;
  top: -35px;
}

.input-container {
  position: relative;
}

.column {
  width: 100%;
  display: flex;
  height: 100vh;
}

.column>div {
  width: 50%;
  height: 100%;
}

#chart-content {
  width: 100%;
  max-height: 80vh;
}

#slider-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 20px;
  gap: 20px;
  place-items: center;
}

@media screen and (max-width: 1200px) {
  #slider-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .column {
    flex-direction: column;
  }
}

/* CSS for download bottom */
.download-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex!important;
}

.upload-button {
  display: none; 
}

.download-image {
  width: 32px; 
  height: 32px;
  cursor: pointer;
}


.butt {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  border: none;
  border-radius: 24px;
}

.butt-primary {
  background-color: #3C67F4;
  padding: 10px 40px;
  border-radius: 25px !important;
  display: block;
  font-size: 17px;
  align-items: center;
}
#income-container {
  height: 90px;
  margin-left: 80px;
  
}

#input-income {
  border: none;
  outline: none;
  margin-top: 10px;
}

hr {
  border: none;
  height: 3px;
  background-color: black;
  margin-top: 5px;
  width: 200px;
}

#create-expense {
  background-color: white;
  height: 90px;
  width: 90px;
  border: 4px solid;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  padding: 20px;
  cursor: pointer;
  font-size: 70px;
  font-weight: normal;
  margin-right: 257px;
}

.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input:focus{
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #3C67F4;;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#save-budget-btn {
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 30px;
  font-weight: bold;
  color: rgb(113, 113, 113);
}

.delete-expense-button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

#expense-error {
  color: red;
  font-weight: bold;
  display: none;
}