/*  Header/layout styling */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav a {
  color: #000000;
}

#logo {
  font-size: 45px;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background-color: rgb(255, 255, 255);
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-shadow: 2px 2px 4px 0px #dbdcdcc2;
  margin-bottom: 15px;
}

nav ul {
  margin-right: 13px;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

.login-button {
  padding: 15px 35px;
  background-color: #3C67F4;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: 18px;
  display: block;
}

/* Der er nødt til at være en ".butt" uden ":hover" hvis man skal lave en class, ellers virker det ikke
Source: Trust me bro*/
.butt {
  color: white;
  text-decoration: none;
  border-radius: 36px;
  transition: 0.2s;
}

/*-------------------------------------*/
.butt:hover {
  filter: brightness(80%);
}

.butt:active {
  filter: brightness(80%);
}

.butt:hover,
.butt:active {
  cursor: pointer;
}


.active-page {
  font-weight: bold;
}