/*  Header/layout styling */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

#logo {
  font-size: 45px;
  font-weight: bold;
}

#logo a {
  color: black;
}

nav {
  background-color: #fff;
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  box-shadow: 2px 2px 4px 0px #dbdcdcc2;
  margin-bottom: 15px;
}

/* Styling for the nav items list */
#nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 2;
}

#nav-list li {
  padding: 10px 20px;
}

#nav-list li a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.active-page {
  font-weight: bold;
}

#menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* This is done to display the menu icon and not display the list of nav items.
  The display of nav items is handled in main.js file
*/
@media screen and (max-width: 920px) {
    #menu-icon {
        display: block;
    }

    #nav-list {
      flex-direction: column;
      width: 100%;
      display: none;
      position: absolute;
      top: 85px;
      left: 0;
      background-color: #fff;
    }

    #nav-list li {
      width: 100%;
      text-align: center;
    }
}

/* This is done to force the display mode back to flex when scaling the site up again */
@media screen and (min-width: 920px) {
    #nav-list {
        display: flex!important;
    }

    #menu-icon {
        display: none;
    }
  
}

.login-button {
  padding: 15px 35px;
  background-color: #3C67F4;
  color: white!important;
  text-decoration: none;
  border-radius: 50px!important;
  font-size: 18px!important;
  display: block;
}

/* General button class */
.butt {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  border: none;
  border-radius: 24px;
}

/* Button with styled bavkground */
.butt-primary {
  background-color: #3C67F4;
  padding: 15px 35px;
  border-radius: 20px !important;
  display: block;
  font-size: 18px;
}

/* -------------- Button-hover -------------- */
.butt:hover {
  filter: brightness(80%);
}

.butt:active {
  filter: brightness(80%);
}

.butt:hover,
.butt:active {
  cursor: pointer;
}

/* -------------- Tool-tips -------------- */
.tool-tip {
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.tool-tip-primary{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  background-color: #3C67F4;
  width: 30px;
  height: 30px;
  padding: 10px;
}

.tool-tip>span {
  visibility: hidden;
  width: 160px;
  height: fit-content;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  border: 3px solid;
  border-color: rgb(0, 0, 0);
  font: helvetica;
  z-index: 2px;
  position: absolute;

  margin-left: 200px;

}

.tool-tip:hover>span {
  visibility: visible;
}