/* style for tekst */

.container {
  max-width: 1200px;
  margin: 40px auto 200px; 
  padding: 0 20px;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.columns {
  display: flex;
  margin-top: 50px; 
}

.column {
  width: 45%;
  margin: 0 5%; 
}

h3 {
  font-size: 24px; 
  text-align: center; 
  margin-bottom: 40px; 
}

/* css for header "information */
.create-button-info {
  width: 110vh; 
  height: 17vh; 
  border: 1px solid #115CF1;
  background-color: #3C67F4;
  margin: 5vh auto; 
  align-items: center;
  justify-content: center;
  display: flex;
}


.form-create-info {
  color: white;
}


/* css for bullet points */
.right-column li {
  list-style-type: circle; 

  margin-bottom: 10px;
}



.left-column li {
  list-style-type: circle; 
  margin-bottom: 10px;
}


.glos > h4 {
  font-size: 40px; 
  text-align: center; 
  margin-top: -160px;
}

.glos li {
  list-style-type: circle; 

  margin-bottom: 10px;
  text-align: center; 
}
