/* style for tekst */

.container {
  max-width: 1200px;
  margin: 40px auto 200px; /* Adjusted margin to move container lower */
  padding: 0 20px;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.columns {
  display: flex;
  margin-top: 50px; /* Added margin to move columns lower */
}

.column {
  width: 45%;
  margin: 0 5%; /* Adjusted margin for spacing between columns */
}



h3 {
  font-size: 24px; 
  text-align: center; 
  margin-bottom: 40px; 
}

/* css for header "information */
.create-button-info {
  width: 1700px;
  height: 170px;
  border: 1px solid #115CF1;
  background-color: #3C67F4;
  margin: 50px auto; /* Center the button horizontally */
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.form-create-info {
  color: white;
}


