/*  Lave flere stylesheets denne bliver til header  */


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {

  font-size: 45px;
  font-weight: bold;
  top: -15px;
  left: 35px;
  position: absolute;
}

h1 a {
  text-decoration: inherit;
  /* Inherit text decoration from parent */
  color: inherit;
  /* Inherit color from parent */
  /* Optionally, you can add other styles here */
}

h2 {
  font-weight: normal;
  position: absolute;
}

#grey-line {
  width: 100%;
  /* Span across the entire screen */
  height: 2px;
  /* Specify the line thickness */
  background-color: #dbdcdcc2;
  /* Set the line color */
  margin: 20px 0;
  /* Adjust margin as needed */
  /* You can add more styling properties here */
  position: absolute;
  left: 0;

}



#create {
  right: 515px;
  top: -8px;
  font-size: 34px;
}

#my-budgets {
  right: 300px;
  top: -8px;
  font-size: 34px;
}

#info {
  right: 210px;
  top: -8px;
  font-size: 34px;
}


#blue-oval {
  width: 120px;
  /* Juster bredden efter behov */
  height: 50px;
  /* Juster højden efter behov */
  background-color: #3C67F4;
  /* Baggrundsfarve */
  border-radius: 30px;
  /* Rundt hjørnerne for at skabe bløde kanter */
  position: absolute;
  right: 45px;
  top: 14px;
}

#login-text {
  position: absolute;
  top: 12px;
  right: 83px;

  font-weight: normal;
  color: #ffffffe6;
  font-size: 18px;

}