#form-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 100px;
}

#form-header {
    margin-bottom: 40px;
    font-size: 60px;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 5px;
}

input[type="text"] {
    border: none;
    width: 450px;
}

.form-input {
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#form-template select {
    width: 450px;
    height: 50px;
    border: 1px solid #040404;
    border-radius: 5px;
    <<<<<<< HEAD margin-top: 20px;

}

#sky-image {
    height: 20px;
    width: 20px;
}


#sky-upload {
    display: flex;
    =======margin-top: 20px;
    cursor: pointer;
}

#sky-image {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#sky-upload {
    display: flex;
    >>>>>>>62ad6497a416b1c05057f13bb558050927342a00 align-items: center;
    width: 20px;
    height: auto;
    justify-content: center;
}

.create-button {
    width: 450px;
    height: 50px;
    border: 1px solid #115cf1;
    border-radius: 5px;
    margin-top: 20px;
    <<<<<<< HEAD background-color: blue;

    =======background-color: #3C67F4;
    cursor: pointer;
    >>>>>>>62ad6497a416b1c05057f13bb558050927342a00
}

.form-create {
    color: white;
}

.create-button {
    margin-top: 20px;
}